.home {
    width: 95%;
    margin: 1rem auto;
}

.title {
    margin-left: 15px;
}

.subtitle {
    margin-left: 15px;
}

@media(max-width: 450px) {

    .home {
        width: 70%;
    }

}

@media(max-width: 770px) {

    .home {
        width: 90%;
    }

}